# ignore generated csv files,
Model_Inputs/*.csv

# except input csvs
!Model_Inputs/microzones.csv
!Model_Inputs/nodes.csv
!Model_Inputs/links.csv

# except example outputs
!Convert_Network/Outputs/links_example.csv
!Convert_Network/Outputs/nodes_example.csv
!Convert_Network/Outputs/linkpoints_example.csv
!Create_Microzones/Outputs/microzones_example.csv

# ignore output files
Model_Outputs/



# ignore logfiles
*.log
